
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", serif;
    color: #243e63;;
}

.nav__container {
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    margin: 0 auto;
    display: flex;    
}

.row {
    padding: 24px;
    display: flex;
    height: 250px;
    justify-content: space-between;
    align-items: center;
    background-image: url("assets/cat-banner.gif");
    background-repeat: no-repeat;
    background-position: center;
}

.bg-img {
    position: relative;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

/*
NAV
*/

.nav__logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__logo--title {
    font-size: 24px;
    font-weight: 900;
    margin-left: 12px;
    left: 0;
    letter-spacing: 0.6px;
    padding-bottom: 2px;
}

.nav__links {

}

.nav__link {
    margin-left: 16px;
    text-decoration: none;
    font-size: 20px;
    color: #4499db;
    font-weight: bold;
    padding: 8px;
}


